<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletCrud</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>reportServlet</display-name>
    <servlet-name>reportServlet</servlet-name>
    <servlet-class>com.dbhandler.reportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reportServlet</servlet-name>
    <url-pattern>/reportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewservlet</display-name>
    <servlet-name>viewservlet</servlet-name>
    <servlet-class>com.servlet.viewservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewservlet</servlet-name>
    <url-pattern>/viewservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addservlet</display-name>
    <servlet-name>addservlet</servlet-name>
    <servlet-class>com.servlet.addservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addservlet</servlet-name>
    <url-pattern>/addservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteservlet</display-name>
    <servlet-name>deleteservlet</servlet-name>
    <servlet-class>com.servlet.deleteservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteservlet</servlet-name>
    <url-pattern>/deleteservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateservlet</display-name>
    <servlet-name>updateservlet</servlet-name>
    <servlet-class>com.servlet.updateservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateservlet</servlet-name>
    <url-pattern>/updateservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateservlet2</display-name>
    <servlet-name>updateservlet2</servlet-name>
    <servlet-class>com.servlet.updateservlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateservlet2</servlet-name>
    <url-pattern>/updateservlet2</url-pattern>
  </servlet-mapping>
</web-app>